@using EctWebApp.Models
@model DashboardViewModel

@{ ViewData["Title"] = "ECT Dashboard"; }

<div class="mb-3">
    <h1 class="mb-3">@Model.GetDateRange()</h1>
</div>
<div class="calendar-week">
    <h3>Events: @Model.CalendarEvents.Count</h3>
    @foreach (var item in Model.CalendarEvents)
    {
        <p>Importance: @item.EventImportance</p>
        <p>Organizer:@item.Organizer</p>
        <p>Subject: @item.Subject</p>
        <p>Starts at: @item.Start</p>
        <p>Ends at: @item.End</p>
        <p>Attendees <br />
        @foreach (var attendee in item.Attendees)
        {
            @attendee <br />
        }
        </p>
    }
    <hr />
    <h3>Received mail: @Model.ReceivedMail.Count</h3>
    @foreach (var item in Model.ReceivedMail)
    {
        <p>Importance: @item.Importance</p>
        <p>Subject: @item.Subject</p>
        <p>From: @item.From</p>
        <p>Received at: @item.ReceivedDateTime</p>
    }
    <hr />
    <h3>Sent mail: @Model.SentMail.Count</h3>
    @foreach (var item in Model.SentMail)
    {
        <p>Importance: @item.Importance</p>
        <p>Subject: @item.Subject</p>
        <p>Sent at: @item.SentDateTime</p>
        <p>Recipients<br />
        @foreach (var recipient in item.Recipients)
        {
            @recipient <br />
        }
        </p>
    }
</div>
