@page "/comm-weights"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject IControllerConnection apiConn

<AuthorizeView>
    <Authorized>
        <div class="communicaiton-weights">
            @if (!initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!isAdmin)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <h3>Manage Communcation Mediums</h3>
                    @if (string.IsNullOrEmpty(serverMessage) == false)
                    {
                        <p style="@ServerMessageInlineStyle">@serverMessage</p>
                    }
                    <EditForm Model="percentagesDict" OnSubmit="@(async () => await SubmitWeights())" Context="formContext">
                        @foreach (var medium in percentagesDict.Keys)
                        {
                            <div class="comms-input-pair">
                                <p>
                                    @medium.Medium
                                    @if (percentagesDict[medium])
                                    {
                                        <InputNumber @bind-Value=medium.Weight class="" id="Weight" style="@PercentageInputStyle" />
                                    }
                                    else
                                    {
                                        @medium.Weight
                                    }
                                    %
                                </p>
                            </div>

                            @if (medium.Medium.Contains("Email") || medium.Medium.Contains("Meetings"))
                            {
                                @if (percentagesDict[medium])
                                {
                                    <button @onclick="() => SavePercentage(medium)" type="button">Save</button>
                                }
                                else
                                {
                                    <button @onclick="() => EditPercentage(medium)" type="button">Edit</button>
                                }
                                <button @onclick="() => ClearPercentage(medium)" type="button">Clear</button>
                            }
                                <hr />
                            }
                            <p>Percentage left: @PercentageLeft %</p>
                            <button type="submit" disabled="@isSubmitting">Submit</button>
                        </EditForm>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    bool isAdmin = false;
    bool isSubmitting = false;
    bool initialized = false;
    bool serverMessageIsError = false;
    string serverMessage = "";
    Dictionary<CommunicationPercentage, bool> percentagesDict;          // holds true if user selected for edit
    int PercentageLeft
    {
        get
        {
            int total = 100;
            foreach (var percentage in percentagesDict.Keys)
            {
                total -= percentage.Weight;
            }
            return total;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("setPageTitle", "Create Team");
        isAdmin = await apiConn.IsProcessingUserAnAdmin(Http);
        if (isAdmin)
            await GetCommunicationPercentages();

        initialized = true;
    }

    protected async Task GetCommunicationPercentages()
    {
        var token = await apiConn.GetAPITokenAsync();
        if (token != null)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                var percentages = await Http.GetFromJsonAsync<List<CommunicationPercentage>>($"api/communication/weights");
                InitializeDictionary(percentages);
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    private void InitializeDictionary(List<CommunicationPercentage> percentages)
    {
        percentagesDict = new Dictionary<CommunicationPercentage, bool>();
        foreach (var medium in percentages)
        {
            percentagesDict.Add(medium, false);
        }
    }

    private bool SavePercentage(CommunicationPercentage medium)
    {
        if (PercentageLeft >= 0)
        {
            percentagesDict[medium] = false;
            return true;
        }
        else
        {
            medium.Weight += PercentageLeft;
            return false;
        }
    }
    private void EditPercentage(CommunicationPercentage selectedMedium)
    {
        var toggledMedium = GetToggledMedium();
        if (toggledMedium != null)
        {
            if (SavePercentage(toggledMedium))                          // If input value is less than % left only then toggle the other medium
                percentagesDict[selectedMedium] = true;
        }
        else
            percentagesDict[selectedMedium] = true;                     // If no previous medium is toggled

    }
    private void ClearPercentage(CommunicationPercentage medium)
    {
        medium.Weight = 0;
    }
    private CommunicationPercentage GetToggledMedium()
    {
        foreach (var medium in percentagesDict.Keys)
        {
            if (percentagesDict[medium])
                return medium;
        }
        return null;
    }

    private async Task SubmitWeights()
    {
        if(PercentageLeft != 0)
        {
            serverMessageIsError = true;
            serverMessage = "You must distribute the full 100%.";
            return;
        }
        isSubmitting = true;
        serverMessageIsError = false;

        var toggledMedium = GetToggledMedium();
        if (toggledMedium != null) percentagesDict[toggledMedium] = false;

        var token = await apiConn.GetAPITokenAsync();
        if (token != null)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                var response = await Http.PutAsJsonAsync<List<CommunicationPercentage>>($"api/communication/weights/update", percentagesDict.Keys.ToList());
                if (response.IsSuccessStatusCode == false)
                    serverMessageIsError = true;
                serverMessage = await response.Content.ReadAsStringAsync();
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
        isSubmitting = false;
    }

    private string PercentageInputStyle
    {
        get
        {
            return PercentageLeft <= 0 ? "border: 1px solid red" : "";
        }
    }
    private string ServerMessageInlineStyle
    {
        get
        {
            return serverMessageIsError ? "color: red;" : "color: green;";
        }
    }
}
