@page "/comm-points"
@inherits CommunicationPointsClass 

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <div class="communicaiton-points">
            @if (!Initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!IsAdmin)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <h3>Manage Communcation Mediums</h3>
                    @if (string.IsNullOrEmpty(ServerMessage) == false)
                    {
                        <p style="@ServerMessageInlineStyle">@ServerMessage</p>
                    }
                    <EditForm Model="PointsAndToggles" OnSubmit="@(async () => await SubmitPoints())" Context="formContext">
                        @foreach (var medium in PointsAndToggles.Keys)
                        {
                            <div class="comms-input-pair">
                                <p>
                                    @medium.Medium
                                    @if (PointsAndToggles[medium])
                                    {
                                        <InputNumber @bind-Value=medium.Points class="" id="Weight" style="@PointInputStyle" />
                                    }
                                    else
                                    {
                                        @medium.Points
                                    }
                                    @(medium.Points > 1 ? "points" : "point") 
                                </p>
                            </div>

                            @if (medium.Medium.Contains("Email") || medium.Medium.Contains("Meetings"))
                            {
                                @if (PointsAndToggles[medium])
                                {
                                    <button @onclick="() => SavePoints(medium)" type="button">Save</button>
                                }
                                else
                                {
                                    <button @onclick="() => EditPoints(medium)" type="button">Edit</button>
                                }
                                <button @onclick="() => ClearPoints(medium)" type="button">Clear</button>
                            }
                            <hr />
                        }
                        <p><b>Note</b>: You cannot assign more than @MaxPointsPerMedium to a medium.</p>
                        <p>Total points: @TotalPoints</p>
                        <button type="submit" disabled="@IsSubmitting">Submit</button>
                    </EditForm>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    
}
