@page "/dashboard"

@inherits PersonalDashboardClass

@using BlazorDateRangePicker
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="dashboard">
            <div class="topRow">
                <div class="dateRange">
                    <DateRangePicker @bind-StartDate="FromDate" @bind-EndDate="ToDate">
                        <ButtonsTemplate Context="pickerContext">
                            <button class="cancelBtn btn btn-sm btn-default"
                                    @onclick="@pickerContext.ClickCancel" type="button">
                                Cancel
                            </button>
                            <button class="cancelBtn btn btn-sm btn-default"
                                    @onclick="@(e => ResetClick(e, pickerContext))" type="button">
                                Reset
                            </button>
                            <button class="applyBtn btn btn-sm btn-primary" @onclick="@(e => CustomApply(e, pickerContext))"
                                    disabled="@(pickerContext.TStartDate == null || pickerContext.TEndDate == null)"
                                    type="button">
                                Apply
                            </button>
                        </ButtonsTemplate>
                    </DateRangePicker>
                </div>
                <div class="textSummary">
                    <p>Emails sent: @EmailsSentCount</p>
                    <p>Emails received: @EmailsReceivedCount</p>
                    <p>Number of meetings: @numberOfMeetings</p>
                    <p>Time in meetings: @GetFormattedTimeInMeeting</p>
                </div>
            </div>
            <div class="topCollaborators">
                <h2>Top Collaborators</h2>
                <div class="collaboratorsList">
                    <div class="collaborator">
                        @*Total weight: @totalWeight*@
                        @foreach (var user in collaborators)
                        {
                            <p>@user.Key (@user.Value%)</p>
                        }
                    </div>
                </div>
            </div>
            <div class="emails-chart-container">
                <div id="emails-chart"></div>
            </div>
            <div class="events-chart-container">
                <div id="events-chart"></div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {

}
