@page "/create-team"
@page "/manage-team/{hashedTeamId}"
@inherits ManageTeamClass

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="create-team">
            @if (!initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!hasAccess)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <EditForm Model=teamDetails OnValidSubmit=@SendTeamData Context="formContext">
                        <DataAnnotationsValidator />
                        <ValidationSummary style="color: red" />

                        @if (String.IsNullOrEmpty(ServerMessage) == false)
                        {
                            <div class="operation-result">
                                <p style="@ServerMessageInlineStyle">@ServerMessage</p>
                            </div>
                        }

                        <div class="left-half">
                            <div class="create-team-input-pair">
                                <label>Team name</label>
                                <InputText @bind-Value=teamDetails.Name class="form-control" id="Name" disabled="@HasTeamId" />

                            </div>
                            <div class="create-team-input-pair">
                                <label>Team lead</label>
                                <input id="createTeamLeader" list="leaders"
                                    @onchange="@((args) => SetLeaderNameEmail(args))" 
                                    placeholder="Full Name <email@example.com>" style="@LeaderInputStyle" />
                                <datalist id="leaders">
                                    @foreach (var leader in AvailableLeaders)
                                    {
                                        <option value="@leader" />
                                    }
                                </datalist>
                            </div>
                            <div class="create-team-input-pair">
                                <label>Member selection</label>
                                <input id="createTeamMember" list="members"
                                    @onchange="@((args) => SetMemberNameEmail(args))"
                                    placeholder="Full Name <email@example.com>" style="@MemmberInputStyle" />
                                <datalist id="members">
                                    @foreach (var member in AvailableMembers)
                                    {
                                        <option value="@member" />
                                    }
                                </datalist>
                                <button type="button" @onclick="() => AddSelectedMember()" disabled=@isSubmitting class="select-member">Add member</button>
                            </div>
                        </div>
                        <table class="selected-members">
                            <thead>
                                <tr>
                                    <td>
                                        Selected members
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var member in teamDetails.MemberNamesAndEmails)
                                {
                                    <tr>
                                        <td>
                                            @member
                                            <button class="deselect-btn" @onclick="() => RemoveFromSelected(member)">Remove</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <button type="submit" disabled=@isSubmitting class="save-team">Save</button>
                    </EditForm>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    
}
