@page "/move-members"
@inherits MoveMembersClass

@using static EctBlazorApp.Shared.SharedMethods;


<AuthorizeView>
    <Authorized>
        <div class="move-members">
            <div class="team float-left">
                <h2>Team one</h2>
                <div class="team-selection">
                    <input @bind="LeftTeamSelection" @bind:event="oninput" type="text" 
                           placeholder="Team name..." class="input" list="teams-left"  
                           disabled="@MemberHasBeenMoved" @onkeyup="UpdateLeftTeamSelection"/>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td class="member-heading-left">Members</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (LeftTeam != null)
                        {
                            <tr>
                                <td>
                                    @FormatFullNameAndEmail(LeftTeam.Leader.FullName, LeftTeam.Leader.Email)
                                </td>
                                <td>
                                    <button type="button" class="remove-member disabled-button" disabled="true" >
                                        &times;
                                    </button>
                                    <button type="button" class="move-member disabled-button" disabled="true">
                                        &rarr;
                                    </button>
                                </td>
                            </tr>
                            @foreach (var member in LeftTeam.GetMembersExceptLeader())
                            {
                                <tr>
                                    <td>
                                        @FormatFullNameAndEmail(member.FullName, member.Email)
                                    </td>
                                    <td>
                                        <button type="button" class="remove-member" @onclick="() => RemoveMember(LeftTeam, member.Email)">
                                            &times;
                                        </button>
                                        <button type="button" class="move-member" @onclick="() => MoveMember(LeftTeam, RightTeam, member.Email)">
                                            &rarr;
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="team float-right">
                <h2>Team two</h2>
                <div class="team-selection">
                    <input @bind="RightTeamSelection" @bind:event="oninput" type="text" 
                           placeholder="Team name..." class="input" list="teams-right" 
                           disabled="@MemberHasBeenMoved" @onkeyup="UpdateRightTeamSelection"/>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Actions</td>
                            <td class="member-heading-right">Members</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (RightTeam != null)
                        {
                            <tr>
                                <td>
                                    <button type="button" class="move-member disabled-button" disabled="true">
                                        &larr;
                                    </button>
                                    <button type="button" class="remove-member disabled-button" disabled="true">
                                        &times;
                                    </button>
                                </td>
                                <td>
                                    @FormatFullNameAndEmail(RightTeam.Leader.FullName, RightTeam.Leader.Email)
                                </td>
                            </tr>
                            @foreach (var member in RightTeam.GetMembersExceptLeader())
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="move-member" @onclick="() => MoveMember(RightTeam, LeftTeam, member.Email)">
                                            &larr;
                                        </button>
                                        <button type="button" class="remove-member" @onclick="() => RemoveMember(RightTeam, member.Email)">
                                            &times;
                                        </button>
                                    </td>
                                    <td>
                                        @FormatFullNameAndEmail(member.FullName, member.Email)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <datalist id="teams-left">
                @foreach (var team in SelectableTeamsLeft)
                {
                    <option>@(team.Name)</option>
                }
            </datalist>
            <datalist id="teams-right">
                @foreach (var team in SelectableTeamsRight)
                {
                    <option>@(team.Name)</option>
                }
            </datalist>
            <button type="button" class="move-members-submit" @onclick="SubmitChanges">Submit</button>
            <button type="button" class="move-members-reset" @onclick="ResetTeams">Reset</button>
        </div>
    </Authorized>
</AuthorizeView>

@code{

}
