@page "/move-members"
@inherits MoveMembersClass

@using static EctBlazorApp.Shared.SharedMethods;

<AuthorizeView>
    <Authorized>
        @if (HasAccess == false)
        {
            <NoAccess />
        }
        else
        {
            <div class="move-members">
                @if (string.IsNullOrEmpty(ServerMessage) == false)
                {
                    <div class="operation-result">
                        <p style="@ServerMessageInlineStyle">@ServerMessage</p>
                    </div>
                }
                <div class="team float-left">
                    <h2>Team one</h2>
                    <div class="team-selection">
                        <input @bind="LeftTeamSelection" @bind:event="oninput" type="text"
                               placeholder="Team name..." class="input" list="teams-left"
                               disabled="@MemberHasBeenMoved" @onkeyup="UpdateLeftTeamSelection" />
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td class="member-heading-left">Members</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (LeftTeam != null)
                            {
                                <tr>
                                    <td>
                                        @LeftTeam.LeaderNameAndEmail
                                    </td>
                                    <td>
                                        <button type="button" class="remove-member-button disabled-button" disabled="true">
                                            &times;
                                        </button>
                                        <button type="button" class="move-member-button disabled-button" disabled="true">
                                            &rarr;
                                        </button>
                                    </td>
                                </tr>
                                @foreach (var member in LeftTeam.MemberNamesAndEmails)
                                {
                                    <tr>
                                        <td>
                                            @member
                                        </td>
                                        <td>
                                            <button type="button" class="remove-member-button" @onclick="() => RemoveMember(LeftTeam, member)">
                                                &times;
                                            </button>
                                            <button type="button" class="move-member-button" @onclick="() => MoveMember(LeftTeam, RightTeam, member)">
                                                &rarr;
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="team float-right">
                    <h2>Team two</h2>
                    <div class="team-selection">
                        <input @bind="RightTeamSelection" @bind:event="oninput" type="text"
                               placeholder="Team name..." class="input" list="teams-right"
                               disabled="@MemberHasBeenMoved" @onkeyup="UpdateRightTeamSelection" />
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Actions</td>
                                <td class="member-heading-right">Members</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (RightTeam != null)
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="move-member-button disabled-button" disabled="true">
                                            &larr;
                                        </button>
                                        <button type="button" class="remove-member-button disabled-button" disabled="true">
                                            &times;
                                        </button>
                                    </td>
                                    <td>
                                        @RightTeam.LeaderNameAndEmail
                                    </td>
                                </tr>
                                @foreach (var member in RightTeam.MemberNamesAndEmails)
                                {
                                    <tr>
                                        <td>
                                            <button type="button" class="move-member-button" @onclick="() => MoveMember(RightTeam, LeftTeam, member)">
                                                &larr;
                                            </button>
                                            <button type="button" class="remove-member-button" @onclick="() => RemoveMember(RightTeam, member)">
                                                &times;
                                            </button>
                                        </td>
                                        <td>
                                            @member
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <datalist id="teams-left">
                    @foreach (var team in SelectableTeamsLeft)
                    {
                        <option>@(team.Name)</option>
                    }
                </datalist>
                <datalist id="teams-right">
                    @foreach (var team in SelectableTeamsRight)
                    {
                        <option>@(team.Name)</option>
                    }
                </datalist>
                <button type="button" class="move-members-submit" @onclick="SubmitChanges">Submit</button>
                <button type="button" class="move-members-reset" @onclick="ResetTeams">Reset</button>
            </div>
        }
    </Authorized>
</AuthorizeView>

@code{

}
